//- Description no longer than 155 characters
meta(name="description" content="Eye installation")
//Twitter Card data
meta(name="twitter:card" content="summary")
meta(name="twitter:site" content="@mouver")
meta(name="twitter:title" content="Eyes - mouver")
meta(name="twitter:description" content="Eye installation")
meta(name="twitter:creator" content="@mouver")
//- Twitter Summary card images must be at least 120x120px
meta(name="twitter:image" content="https://cdn.pixabay.com/photo/2017/06/09/18/06/eye-2387853_960_720.png")

//Open Graph data
meta(property="og:title" content="Eyes - mouver")
meta(property="og:type" content="article")
meta(property="og:url" content="https://artemouver.github.io/eyes")
meta(property="og:image" content="https://cdn.pixabay.com/photo/2017/06/09/18/06/eye-2387853_960_720.png")
meta(property="og:description" content="Eye installation")
meta(property="og:site_name" content="Eyes - mouver")
//- meta(property="fb:admins" content="Facebook numeric ID")
